@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: YekanBakh;
    font-style: normal;
    src: url('../public/fonts/YekanBakh-Regular.woff2') format('woff2');
}

@font-face {
    font-family: YekanBakh-bold;
    font-style: normal;
    font-weight: bolder;
    src: url('../public/fonts/YekanBakh-ExtraBold.woff2') format('woff2');
}

body {
    font-family: YekanBakh;
}

.header-text {
    font-family: YekanBakh-bold
}


.shadow,.shadow {
    animation:animation alternate-reverse 2s infinite;
}

.star {
    animation:animation alternate-reverse 1s infinite ease-in-out;
}


/* animations */

@keyframes animation {
    from {
        transform: scale(1,1);
    }
    
    to {
        transform: scale(1.3,1.3);

    }
}

